<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
</head>
<body>
<h1>Bem, vindo!</h1>
<p>Olá, seja bem vindo!</p>    
    
</body>
</html>